body { font-family:sans; background-color:white; margin:0; padding:0 0.5em; font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); }

footer { display:block; text-align:center; margin-top:2em; padding:0.5em 0; font-size:0.8em; border-top:1px solid #cccccc; }

/* Misc */
.hide { display:none !important; }
.svg_button { position:relative; width:1em; height:1em; top:0.2em; stroke:none; fill:#333333; stroke-width:2px; }
.svg_button_selected { fill:#000000; stroke:none; background-color:#e6e6e6;}
.svg_button:hover { opacity:0.6; cursor:pointer; }
.svg_button:active { cursor:pointer; }
.svg_icon { position:relative; width:24px; height:24px; top:2px; }
.disabled_button { fill:#cfcfcf !important; cursor:auto !important; }
.disabled_button:hover { fill:#cfcfcf !important; cursor:auto !important; }
.disabled_button:active { fill:#cfcfcf !important; cursor:auto !important; }
.text_button { border:none; color:blue; background-color:inherit; cursor:pointer; display:inline-block; }
.text_button:hover { color:black; }
.key { font-family:monospace; padding:1px 6px; background:linear-gradient(to bottom,#f0f0f0,#fcfcfc);; border:1px solid #e0e0e0; white-space:nowrap; color:#303030; border-bottom-width:2px; border-radius:3px; }

/* top toolbar */
#toolbar { display:grid; grid-template-columns:2fr 4fr; align-self:center; padding:0.4em 0.2em; border-bottom:1px solid #cccccc; margin:0.4em 0 1em 0; }
#toolbar .pname {}
#toolbar .pname a:first-child { margin-right:1ch; }
#toolbar .pageinfo { text-align:right; margin-right:0.5em; }
#toolbar .pageinfo input[type="text"] { font-family:sans; margin:0 0.4em; border:none; border-bottom:1px solid #cccccc; font-size:1em; }
#toolbar .pageinfo div { display:inline; }
#toolbar a { text-decoration:none; }

/* content panel */
#content { display:block; }
#content .img_with_region { position:relative; display:inline-block; margin:0; padding:0; }
#content .img_with_region img { height:45vh; }
#content .img_with_region svg { position:absolute; top:0; left:0; }
#content .img_with_region div { position:relative; text-align:center; }

/* /{PNAME}/filelist: shows a list of all images contained in a project */
#content .filelist_panel { display:block; }
#content .filelist { display:flex; flex-wrap:wrap; }
#content .filelist::after { content:""; flex:auto; }
#content .filelist a { display:inline-block; flex-grow:1; padding:0; margin:0; }
#content .filelist a img { display:inline-block; height:250px; max-width:98%; margin:0; padding:0; object-fit:fill; }

/* /{PNAME}/file: shows a file */
#content .fileview_panel { display:block; text-align:center; margin-top:2em; }
#content .fileview_panel #img_toolbar { display:block; margin:0; }
#content .fileview_panel #img_toolbar a { margin:0 0.2em; }
#content .fileview_panel #query_img_container { border:1px solid red; height:70vh; display:block; text-align:center; position:relative; border:none; }
#content .fileview_panel #search_query_form { display:block; padding:0.4em; }
#content .fileview_panel #search_query_form input { font-size:inherit; }

/* /{PNAME}/search: shows search results */
#content .query_panel { display:block; text-align:center; margin:0; padding:0; }
#content .query_panel .query {  }
#content .query_panel .query p { margin:0; padding:0; }
#content .query_panel .query img { height:30vh !important; }

#content .results_panel { display:block; }
#content .resultgrid { display:flex; flex-wrap:wrap; margin-top:1em; }
#content .resultgrid::after { content:""; flex:auto; }
#content .resultgrid a { position:relative; margin:0.1em 0.2em; padding:0; flex-grow:1; cursor:pointer; }
#content .resultgrid a img { height:40vh; }
#content .resultgrid a svg { position:absolute; top:0; left:0; fill:none; stroke:yellow; stroke-width:4; -webkit-user-select:none;-moz-user-select:none;user-select:none; padding:0; margin:0; }
#content .resultgrid a .result_index { position:absolute; left:0; top:0; font-size:0.8em; background-color:black; opacity:0.8; color:white; padding:0.2em 0.4em; margin:0; line-height:1em; }
#content .resultgrid #showmore { display:block; text-align:center; }
#content .resultgrid #nomatches { display:block; text-align:center; color:red; width:100vw; }

#content .resultlist { dispay:flex; flex-wrap:nowarp; flex-direction:column; }
#content .resultlist::after { content:""; flex:auto; }
#content .resultlist .item { flex-grow:0; border:1px solid #cccccc; margin:2em 1em; padding:0; overflow:hidden; background-color:#f2f2f2; }
#content .resultlist .item a { display:inline-block; position:relative; margin:0; padding:0; }
#content .resultlist .item a img { height:40vh; }
#content .resultlist .item a svg { position:absolute; top:0; left:0; fill:none; stroke:yellow; stroke-width:2; -webkit-user-select:none;-moz-user-select:none;user-select:none; padding:0; margin:0; }
#content .resultlist .item table { display:inline-block; vertical-align:top; margin:0.4em 1em; }
#content .resultlist .item table td { padding:0.2em 0.5em; }
#content .resultlist #showmore { display:block; text-align:center; }
#content .resultlist #nomatches { display:block; text-align:center; color:red; width:100vw; }

/* /{PNAME}/showmatch: shows details of a match */
#content .querymatch_panel { display:grid; grid-template-columns:1fr 1fr; align-items:center; justify-content:space-evenly; grid-column-gap:1em; font-size:0.8em; }
#content .querymatch_panel .query { text-align:right; }
#content .querymatch_panel .query a { display:block; text-align:right; }
#content .querymatch_panel .match { text-align:left; }
#content .querymatch_panel .match a { display:block; text-align:left; }

#content .toggle_panel { display:block; border:none; margin:1em 0; padding:0; text-align:center; }
#content .toggle_panel h3 { margin-top:2em; }
#content .toggle_panel div { display:inline-block; text-align:center; padding:0 0.5em; }
#content .toggle_panel div p { font-size:0.8em; display:block; margin:0; padding:0; }
#content .toggle_panel div p input[type="range"] { display:inline-block; text-align:center; width:4em; margin:0; padding:0; height:10px; }
#content .toggle_panel div p label { display:inline; }

#content .match_panel { display:block; border:none; margin:1em 0; padding:0; text-align:center; }
#content .match_panel h3 { margin-top:2em; }
#content .match_panel p {margin:0; padding:0;}
#content .match_panel input[type="text"] { width:2em; margin:0 0.2em; font-size:inherit; }
#content .match_panel input[type="radio"] { margin-left:1em; font-size:inherit; }
#content .match_panel input[type="checkbox"] { margin-left:1em; font-size:inherit; }
#content .match_panel button { margin-left:1em; font-size:inherit; }
#content .match_panel label { display:inline; vertical-align:middle;  }
#content .match_panel span {  }

/* /{PNAME}/configure: project configuration */
#content #settings_container {}
#content #settings_container div { margin:1em; }
#content #settings_container input[type="radio"] { vertical-align:0.2em; margin-right:0.5em; }
#content #settings_container table { margin-left:2em; border:1px solid #808080; border-collapse:collapse; font-size:small; }
#content #settings_container table tr {}
#content #settings_container table td { padding:1em; }
#content #settings_container table td input[type="text"] { font-size:small; width:36em; }
#content #settings_container table td input[type="radio"] { vertical-align:sub; margin-right:0.3em; }
#content #settings_container table td p { display:block; margin:0; }
#content #settings_container #config_save_status { margin-left:1em; }
#content #settings_container .settings_details { font-size:0.8em; }
#content #settings_container .settings_details summary { font-style:italic; }

#content #files_container {}
#content #files_container div { margin:1em; }
#content #files_container input { font-size:1em; width:20em; margin:0 0.5em; }
#content #files_container button { font-size:1em; margin:0 0.5em; }
#content #files_container #file_add_status { display:inline-block; height:6em; width:56vw; border:1px solid #cccccc; overflow:auto; padding:0.6em; font-size:0.7em; }
#content #info_container { text-align:center; margin:3em 0; }
#content #info_container input { font-size:1em; margin:0 0.5em; padding:0.2em; }
#content #info_container form { display:inline; }

/* /{PNAME}/index_status : show indexing process' progress */
#content #progress_container {}
#content #progress_container table {}
#content #progress_container table td { padding:0.25em 1em; }
#content #progress_container table .progress_label { font-size:0.8em; }
